{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<section class="about-page">

    <h1>About Yay or Nay RSVP</h1>

    <div class="services-grid">

        <div class="service-card">
            <img src="{% static 'img/Weddingimg.jpg' %}" alt="Create">
            <h3>Create</h3>
            <div class="service-desc">
                Create beautiful event pages with photos, dates, and details tailored to your celebration.
            </div>
        </div>

        <div class="service-card">
            <img src="{% static 'img/Weddingimg2.jpg' %}" alt="Track">
            <h3>Keep Track</h3>
            <div class="service-desc">
                Keep track of Guests' RSVPs and keep all guest responses neatly organized.
            </div>
        </div>

        <div class="service-card">
            <img src="{% static 'img/Weddingimg.jpg' %}" alt="Celebrate">
            <h3>Celebrate</h3>
            <div class="service-desc">
                Enjoy the moment stress free as all RSVP details are handled behind the scenes.
            </div>
        </div>

    </div>
<section>
        <p>
            Founded in 2025, Yay or Nay RSVP was created with both the host and guest in mind. 
            We wanted to build a platform that removes the stress of managing event invitations 
            and makes the RSVP process simple and enjoyable for everyone involved. Hosts can 
            register in minutes, create beautiful event pages, and effortlessly keep track of 
            every guest reply in one organized dashboard. Guests benefit from a quick, 
            user-friendly way to submit their responses using their unique event code—no account 
            or complicated steps required. Our system automatically organizes guest information, 
            making it easy to monitor attendance, updates, and special notes at a glance. 
            Whether you're planning a wedding, celebration, or private event, we designed our 
            tools to help you stay organized and focused on what truly matters. At Yay or Nay RSVP, 
            our mission is to streamline communication, reduce planning stress, and bring hosts and 
            guests together with ease.
        </p>
</section>
</section>
{% endblock %}
