{% extends "base.html"%}
{% load static %}
{% block title %}
    Home
{% endblock title%}

{% block content %}


    <section class="home-section center">

        <div class="home-image-container center">
            <img src="{% static '/img/Weddingimg.jpg' %}" alt="flower picture">
            <img src="{% static '/img/Weddingimg2.jpg' %}" alt="flower picture2">
        </div>


        <div class="home-description-container center-column">

            <div class="center-column">
                <h1>Yay or Nay RSVP</h1>
                <h2>Create. Track. Celebrate.</h2>
            </div>
    <div class="home-description-container center-column">
            <p>
                Welcome to Yay or Nay RSVP, a simple and convenient way to manage 
                your guest list for any event. This platform allows guests to easily 
                submit their RSVP so you can track who is attending, who isn’t, and 
                what food or items you’ll need to prepare. With all responses organized 
                in one place, planning becomes smoother and stress free helping you 
                focus on creating a great event experience.
            </p>

        </div>
    </section>


{% endblock content %}


