{% extends "base.html"%}
{% load static %}
{% block title %}
    About Me
{% endblock title%}

{% block content %}


    <section class="about-section center">

        <div class="about-image-container center">
            <img src="{% static '/img/IMG_1416.jpg.jpeg' %}" alt="my picture">
            <a href="assets/resume.pdf" download><button> See My Full resume</button></a>
        </div>

        <div class="about-description-container center-column">

            <div class="center-column">
                <h1>Web Developer</h1>
                <h2>Brittany Grigsby</h2>
            </div>

            <p>
Hi, I’m Brittany! I started my journey as a U.S. Navy Avionics Technician, 
moved into the world of healthcare as a Registered Nurse, and now I’m circling 
back to my first true love: technology. I’m currently leveling up my skills in 
the SDGKU Full Stack Developer Program, where I’m diving into everything from 
front-end magic to back-end logic. I’m creative, detail-obsessed, and happiest 
when I’m building something that actually works (bonus points if it looks cute 
doing it).
<br></br>Outside of code, you can usually find me troubleshooting life like it’s 
another bug to fix, experimenting with new ideas, or learning something random 
just because it’s fun. My mix of military discipline, medical precision, and tech 
passion makes me a pretty quirky combo — but it also gives me a unique edge as I 
grow into my career as a developer.
            </p>

        </div>
    </section>


{% endblock content %}