/*Variables*/
:root {
    --primary-color: #dda0cb;
 
    --secondary-color: #dca5de;
  
    --neutral-color: #333333;

    --background-color: #F5F8FF;

    --surface-color: #91adf8;

  
    --sans-font: 'DM Sans', sans-serif;


}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


html {
    background-color: var(--background-color);
    font-size: 14px;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}


h1 {
    color: var(--neutral-color);
    font-size: 4rem; 
    text-transform: uppercase;
}

h2 {
    color: var(--primary-color);
    font-family: var(--lobster-font);
    font-weight: 400;
    letter-spacing: 0.06rem;
    font-size: 1.8rem;
    font-weight: bold;
}

p {
    color: var(--neutral-color);
    font-size: 1.1rem;
}

.text-label { 
    color:white;
    background-color: var(--secondary-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    cursor:initial;
}


