header {
    background-color: var(--surface-color);
    height: 60px;
    position:sticky;
    top: 0px;
}


/*Right Side*/
nav {
    height: 100%;
    width: 80%;
}

.nav-link {
    height: 100%;
    font-weight: bold;
}

.nav-link a {
    color:white;
    font-weight: bold;
    font-size: 1rem;
    margin: 2%;
    padding: 1% 2%;
}

.nav-link a:hover {
    border-bottom: solid 2px white;
}


.nav-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px auto;
}

#nav-check, .nav-btn {
    display: none;
}

.logout-form {
    display: inline;
    margin: 0;
    padding: 0;
}

.logout-link {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 2%;
    padding: 1% 2%;
}

.logout-link:hover {
    border-bottom: solid 2px white;
}
