@media(max-width:1007px) {
    html {
        font-size: 12px;
    }

    .about-section {
        flex-direction: column;
    }

    .about-description-container {
        width: 100%;
    }

    .about-image-container {
        margin-bottom: 4rem;
    }

/* Events Section */
.events-section {
    padding: 2rem;
    margin: 5rem 0px;
}

.events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 4rem;
    margin-top: 2rem;
}

.event-card {
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 1%;
}

.event-card img {
    width: 100%;
    border-radius: 1%;
}

.event-card:hover {
    opacity: 0.5;
    border: 1px solid var(--secondary-color);
}

}

/*Phone*/
@media(max-width:640px) {
    
    html {
        font-size: 10px;
    }

    label { cursor: pointer;}

    header {
        height: max-content;
        padding: 2%;
    }

    .nav-link {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-btn {
        display: inline-flex;
    }
    #nav-check:not(:checked)~.nav-link {
        height: 0px;
        overflow: hidden;
    }

    #nav-check:checked~.nav-link {
        height: auto;
        overflow: auto;
    }

    footer {
        flex-direction: column;
    }

    footer nav {
        height: fit-content;
    }
}