/*Home Page*/

.home-section {
    padding: 2rem;
}


.home-section.center {
    flex-direction: column;     
    align-items: center;
}


.home-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;               
    margin-bottom: 2rem;        
}


.home-image-container img {
    width: 50%;                 
    height: 50vh;          
    object-fit: cover;         
    border-radius: 8px;         
}


.home-description-container {
    width: 80%;
    text-align: center;
}

.home-description-container p {
    width: 100%;
    margin: 0 auto 2rem;
}


@media (max-width: 900px) {
    .event-table {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .event-table {
        grid-template-columns: 1fr;
    }
}




.about-page h1 {
    text-align: center;
    margin-bottom: 0.5in;
}

.about-page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.about-page p {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.about-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}


.about-image-container img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd; 
}

