{% extends "base.html" %}

{% block title %}Host Dashboard{% endblock %}

{% block content %}
<section class="events-section-center-column">
    <h2>Host Dashboard</h2>
    <p>Welcome, {{ user.username }}! Manage your events below.</p>


    <div style="margin: 1rem 0;">
        <a href="{% url 'event_create' %}">
            <button>Create New Event</button>
        </a>
    </div>

    <div class="event-list">
        {% if events %}
            {% for event in events %}
                <div class="event-card">
                    {% if event.image %}
                        <img src="{{ event.image.url }}" alt="{{ event.name }}">
                    {% endif %}

                    <h3>{{ event.name }}</h3>
                    <p>Date: {{ event.date }}</p>
                    <p>{{ event.description|truncatewords:20 }}</p>

                    <div style="margin-top: 0.5rem;">
                    {% if user.is_authenticated %}
                        <a href="{% url 'events:event_edit' event.id %}">
                     <button>Edit Event</button>
                        </a>
                    {% endif %}

                        <a href="{% url 'events:event_guests' event.id %}">
                            <button>View Guests</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No events yet. Use the button above to create your first event.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
